{% extends 'base.html.twig' %}

{% block title 'Acheter un bien' %}

{% block body %}
  <div class="container mt-4">
    <h1>Acheter</h1>

    {% if properties is empty %}
      <div>
        <p> Aucun bien n'est a vendre pour le moment.</p>
      </div>
    {% else %}
      <div class="row">
        {% for property in properties %}
          <div class="col-4">
            {% include 'pages/property/_card.html.twig' %}
          </div>
        {% endfor %}
      </div>

      <div class="pagination mt-4 text-center">
        {{ knp_pagination_render(properties) }}
      </div>
    {% endif %}
  </div>
{% endblock %}