<form 
    method="post"
    action="{{ path('admin.facility.delete', {'id': facility.id}) }}"
    style="display:inline-block"
    onsubmit="return confirm( 'Souhaitez-vous vraiment effacer l\'amenagement {{facility.name}} ?' );"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facility.id) }}">
    <button class="btn btn-danger">Supprimer</button> 
</form>
