{% extends 'base.html.twig' %}

{% block title 'Creer un amenagement' %}

{% block body %}
    <div class="container mt-4">
        <h1>Creer un amenagement</h1>

        {{ include('admin/facility/_form.html.twig') }}
    </div>
{% endblock %}
